.tab-panel {
    border: 1px solid rgb(58, 55, 55);
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #1f1c1c;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #292424;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #383333;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #413b39;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #363434;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #363333;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: rgb(41, 38, 38);
    border: 0;
    border-top: 1px solid rgb(56, 54, 54);
    padding: 15px 0;
  }
  